@import "govuk.scss";

@function app-image-url($filename) {
  @return url($app-images-path + $filename);
}

@function app-font-url($filename) {
  @return   url($app-fonts-path + $filename);
}

.app-footer__copyright-logo {
  display: inline-block;
  min-width: $app-footer-image-width;
  padding-top: ($app-footer-image-height);
  background-image: app-image-url("tm_logo.png");
  @include govuk-device-pixel-ratio {
    background-image: app-image-url("tm_logox2.png");
  }
  background-repeat: no-repeat;
  background-position: 50% 0%;
  background-size: $app-footer-image-width $app-footer-image-height;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}
